#root {
  position: relative;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #282c33;
  color: white;
}
header img {
  width: auto;
  height: 10vmin;
}
#cardsCollection {
  display: flex;
  flex-wrap: wrap;
}
#cardsCollection div {
  width: 20vmin;
  margin: 1vmin;
  border: solid red 1px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#cardsCollection div::before {
  content: '';
  display: block;
  padding-top: 150%;
}
#loadBlock {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: blue;
  color: white;
}
