header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #282c33;
  color: white;
}
header img {
  width: auto;
  height: 10vmin;
}
#cardsCollection {
  display: flex;
  flex-wrap: wrap;
}
#cardsCollection div {
  width: 20vmin;
  margin: 1vmin;
  border: solid red 1px;
}
#cardsCollection div::before {
  content: '';
  display: block;
  padding-top: 150%;
}
