.size(@width, @height) {
  width: @width;
  height: @height;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(40, 44, 51);
  color: white;

  img {
    .size(auto, 10vmin)
  }
}

#cardsCollection {
  display: flex;
  flex-wrap: wrap;

  div {
    width: 20vmin;
    margin: 1vmin;
    border: solid red 1px;

    &::before {
      content: '';
      display: block;
      //.size(100%, 100%);
      padding-top: 150%;
      //background: red;
    }
  }
}